<template>
    <div>
        <TaskEdit v-if="lastTask" :key="currentTask.id" :value="lastTask" @input="editLastTask"></TaskEdit>

        <div class="schedule" @scroll="scroll">
            <div class="header" :style="{top:headerOffsetTop + 'px'}">
                <div class="day" v-for="day in days" :key="day">{{day}}</div>
            </div>
            <div class="week">
                <div class="hours">
                    <div v-for="hour in 25" class="hour">
                        <div class="label">{{hour-1}}:00</div>
                    </div>
                </div>
                <div class="days">
                    <div class="day" v-for="day in days" :key="day" :class="{fade:day === currentDay}"></div>
                </div>
                <div class="tasks" ref="tasks">
                    <TaskItem v-for="task in tasks" :key="task.id" :task="task" @mousedown="mouseDown">{{task.id}}
                    </TaskItem>
                </div>
                <div class="current_time"><div class="label">2:30</div></div>
            </div>
        </div>
    </div>

</template>

<script>
    import TaskEdit from "./TaskEdit";
    import TaskItem from "./TaskItem";
    import {checkDuration, intersectRect, limitDay, limitHour} from "./utils"

    export default {
        name: "LessonSchedule",
        components: {TaskEdit, TaskItem},
        data() {
            return {
                headerOffsetTop: 0,

                srcX: 0,
                srcY: 0,
                dstX: 0,
                dstY: 0,

                currentTask: false,
                currentAction: '',

                days: ["Mon, 27", "Tue, 28", "Wed, 29", "Thu, 30", "Fri, 31", "Sat, 1", "Sun, 2"],
                currentDay: "Tue, 28",

                tasks: [
                    {id: '1', day: 1, hour: 2, duration: 1},
                    {id: '2', day: 2, hour: 6, duration: 1},
                    {id: '3', day: 3, hour: 5, duration: 2},
                    {id: '4', day: 4, hour: 7, duration: 2},
                    {id: '5', day: 5, hour: 2, duration: 3},
                ].map(task => ({
                    ...task, offsetX: 0, offsetY: 0, width: 100, height: 100
                })),

                dayWidth: 200,
                hourHeight: 50,

                lastTask: false,
            }

        },
        computed: {},
        methods: {
            resize(e) {
                this.dayWidth = this.$refs.tasks.clientWidth / this.days.length;
                this.updateAll();
            },
            scroll(e) {
                this.headerOffsetTop = e.target.scrollTop
            },
            mouseDown(e, task, action) {
                e.preventDefault();
                this.srcX = this.dstX = e.pageX;
                this.srcY = this.dstY = e.pageY;
                this.currentTask = task;
                this.currentTaskClone = {...task};
                this.currentAction = action;

                // for editing
                this.lastTask = this.currentTask;
            },
            mouseUp(e) {
                e.preventDefault();
                this.currentTask = false;
            },
            mouseMove(e) {
                e.preventDefault();
                this.dstX = e.pageX;
                this.dstY = e.pageY;

                // move
                if (this.currentTask !== false && this.currentAction === 'move') {

                    let day = limitDay(this.currentTaskClone.day + this.getDay(this.dstX - this.srcX));
                    let hour = limitHour(this.currentTaskClone.hour + this.getHour(this.dstY - this.srcY), this.currentTaskClone.duration);

                    if (!this.checkIntersect(day, hour, this.currentTask.duration, this.currentTask.id)) {
                        this.currentTask.day = day;
                        this.currentTask.hour = hour;
                    }
                    this.updateOne(this.currentTask);
                }

                // resize up
                if (this.currentTask !== false && this.currentAction === 'resize_up') {
                    let hour = limitHour(this.currentTaskClone.hour + this.getHour(this.dstY - this.srcY), this.currentTaskClone.duration);
                    let duration = this.currentTaskClone.duration - hour + this.currentTaskClone.hour;
                    if (!this.checkIntersect(this.currentTask.day, hour, duration, this.currentTask.id) && checkDuration(duration)) {
                        this.currentTask.hour = hour;
                        this.currentTask.duration = duration;
                    }
                    this.updateOne(this.currentTask);
                }

                // resize down
                if (this.currentTask !== false && this.currentAction === 'resize_down') {
                    let hour = this.currentTaskClone.hour + this.getHour(this.dstY - this.srcY);
                    let duration = this.currentTaskClone.duration + hour - this.currentTaskClone.hour;
                    if (!this.checkIntersect(this.currentTask.day, hour, duration, this.currentTask.id) && checkDuration(duration)) {
                        this.currentTask.duration = duration;
                    }
                    this.updateOne(this.currentTask);
                }


            },
            getDay(x) {
                let day = Math.round(x / this.dayWidth);
                return day;
            },
            getHour(y) {
                let hour = Math.round(y / this.hourHeight * 2) / 2;
                return hour;
            },
            checkIntersect(day, hour, duration, excludeId) {
                let rect1 = {top: hour, left: day, right: day + 1, bottom: hour + duration};
                for (let value of this.tasks) {
                    if (value.id == excludeId) continue;
                    let rect2 = {
                        top: value.hour,
                        left: value.day,
                        right: value.day + 1,
                        bottom: value.hour + value.duration
                    };
                    if (intersectRect(rect1, rect2)) {
                        //console.log("peres", value.id)
                        return true;
                    }
                }
                return false;
            },
            updateOne(task) {
                task.width = this.dayWidth;
                task.height = task.duration * this.hourHeight;
                task.offsetX = task.day * this.dayWidth;
                task.offsetY = task.hour * this.hourHeight;
            },
            updateAll() {
                this.tasks.forEach(this.updateOne);
            },


            editLastTask(task) {
                //console.log(task)
                if (!this.checkIntersect(task.day, task.hour, task.duration, this.lastTask.id) && checkDuration(task.duration)) {
                    this.lastTask.day = task.day;
                    this.lastTask.hour = task.hour;
                    this.lastTask.duration = task.duration;
                } else {
                    alert('Invalid day | hour | duration | intersects with other tasks');
                }
                this.updateOne(this.lastTask);
            }
        },
        mounted() {
            this.resize();
            window.addEventListener('resize', this.resize);
            window.addEventListener('mousemove', this.mouseMove);
            window.addEventListener('mouseup', this.mouseUp);
        },
        beforeDestroy() {
            window.removeEventListener('resize', this.resize);
            window.removeEventListener('mousemove', this.mouseMove);
            window.removeEventListener('mouseup', this.mouseUp);
        }
    }
</script>

<style scoped lang="scss">

    .schedule {
        width: 90vw;
        /*border: 1px solid red;*/
        height: calc(100vh - 300px);
        overflow: auto;
        padding-top: 50px;
        position: relative;
        background: #ffffff;
        border-radius: 3px;

        .header {
            position: absolute;
            left: 0;
            right: 0;
            height: 50px;
            display: flex;
            z-index: 1000;
            background: #f7f7fd;
            padding-left: 110px;
            .day {
                /*border: 1px solid pink;*/
                width: 200px;
                flex: 1 1 100px;
                border-left: 2px dashed #e5e5e8;
                display: flex;
                align-items: center;
                justify-content: center;
                color: #8796ad;
            }
        }

        .week {

            position: relative;
            .hours {
                margin-top: 20px;
                .hour {
                    height: 50px;
                    border-top: 1px dashed #e4e4e4;
                    box-sizing: border-box;
                    .label {
                        background: white;
                        position: relative;
                        top: -10px;
                        width: 100px;
                        text-align: right;
                        /*outline: 1px solid red;*/
                    }
                }
                .hour:last-child {
                    height: 100px;
                }

            }

            .days {
                position: absolute;
                top: 0;
                left: 110px;
                right: 0;
                bottom: 0;

                display: flex;

                .day {
                    border-left: 1px solid #f5f5f5;
                    flex: 1 1 100px;
                }
                .fade {
                    background: rgba(0, 128, 255, 0.2);

                }

            }
            .tasks {
                position: absolute;
                top: 0;
                left: 110px;
                right: 0;
                bottom: 0;

                .task {
                }
            }

            .current_time {
                position: absolute;
                top:125px;
                width: 100%;
                height: 2px;
                background: rgba(255, 0, 0, 0.2);
                .label {
                    position: relative;
                    top:-9px;
                    text-align: right;

                    background: white;
                    color: red;
                    width:50px;
                    padding-left: 8px;
                }
            }

        }

    }


</style>