<template>
    <div class="task_editor">
        <div class="row">
            <div class="col name">Task id:</div>
            <div class="col value"><strong>{{task.id}}</strong></div>
        </div>
        <div class="row">
            <div class="col name">Task day:</div>
            <div class="col value"><input type="number" v-model.number="task.day"></div>
        </div>

        <div class="row">
            <div class="col name">Task hour:</div>
            <div class="col value"><input type="number" v-model.number="task.hour" step="0.5"></div>
        </div>

        <div class="row">
            <div class="col name">Task duration:</div>
            <div class="col value"><input type="number" v-model.number="task.duration" step="0.5"></div>
        </div>

        <div class="row">
            <div class="col name"></div>
            <div class="col value"><button @click="$emit('input', task)">update</button></div>
        </div>


    </div>
</template>

<script>
    export default {
        name: "TaskEdit",
        props: {
            value: {
                type: Object,
                required: true,
            }
        },
        data() {
            return {
                task : {
                    id:'',
                    day:0,
                    hour:0,
                    duration:0,
                }
            }
        },
        mounted() {
            this.task = {...this.value}
        }
    }
</script>

<style lang="scss">
.task_editor {
    background: white;
    width:500px;
    margin-bottom: 10px;
    border-radius: 3px;

    .row {
        display: flex;
        .col {
            padding: 4px 8px;
        }
        .name {
            width:200px;
        }
        .value {
            flex-grow: 1;
        }
    }
}
</style>