<template>
    <div class="task" :style="styles" @mousedown="mouseDown($event, task, 'move')">
        <div class="content">ID: {{task.id}}</div>
        <div class="resize_up" @mousedown.stop="mouseDown($event, task, 'resize_up')"></div>
        <div class="resize_down" @mousedown.stop="mouseDown($event, task, 'resize_down')"></div>
    </div>
</template>

<script>
    export default {
        name: "TaskItem",
        props: {
            task: {},
        },
        computed: {
            styles() {
                //console.log(this.task.offsetX);
                return {
                    width: this.task.width - 14 + 'px',
                    height: this.task.height + 'px',
                    top: this.task.offsetY + 'px',
                    left: this.task.offsetX + 4 + 'px',
                    zIndex: this.task.zIndex,
                }
            }
        },
        methods: {
            mouseDown(event, task, action) {
                //this.task.zIndex = this.$store.state.schedule.zIndex++;
                this.$emit('mousedown', event, task, action)
            }
        }
    }
</script>

<style scoped>
    .task {
        position: absolute;
        background: #ccc6ff;
        border-left: 5px solid #a499ff;
        position: absolute;
        top: 100px;
        border-radius: 4px;
        transition: all 0.3s ease;
    }

    .content {
        margin:8px 4px;
    }

    .resize_up, .resize_down {
        position: absolute;
        left:0;
        right:0;
        height: 8px;
        cursor: ns-resize;
    }

    .resize_up:hover, .resize_down:hover {
        background-color: rgba(0, 0, 0, 0.2);
    }

    .resize_up {
        top: 0px;
    }

    .resize_down {
        bottom: 0px;
    }

</style>