<template>
    <div id="app">
        <LessonSchedule></LessonSchedule>
    </div>
</template>

<script lang="ts">
import {Component, Vue} from 'vue-property-decorator';

// @ts-ignore
import LessonSchedule from './components/calendar/LessonSchedule';

@Component({
    components: {
        LessonSchedule,
    },
})
export default class App extends Vue {
}
</script>

<style lang="scss">
    @import "google";
    body {
        background: #e5e5e5;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
</style>
